/**
 * This Global Styles SCSS file content (or the imported content of it)
 * should be as lean as possible and components instead should have
 * scoped styles with CSS-in-JS solution like Styled components.
 * If you are building a multi theme project, then theme styles should not
 * also go here, instead theme related global styles should use global style 
 * functionality such as Styled components, `createGlobalStyle`
 **/

body {
  margin: 0;
  font-family: "Open Sans Condensed",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 60px;

  @media screen and (max-width: 991px) {
    padding: 10px 20px;
  }

  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}