{
  "env": {
    "development": {
      "compact": false
    },
    "production": {
      "compact": true
    },
    "test": {
      "presets": [
        ["preact-cli/babel", {
          "modules": "commonjs"
        }]
      ]
    }
  }
}